.bg-item {
    background-color: #111204 !important;
    color: #FFFFFF !important;  
}

.accordion-detail {
    background-color: #F2FFE0;
    color: black;
}

.css-1umw9bq-MuiSvgIcon-root {
    color: #FFFFFF !important;
}

.css-1808mag-MuiPaper-root-MuiAccordion-root.Mui-expanded, .css-1808mag-MuiPaper-root-MuiAccordion-root.Mui-expanded {
    margin-top: 0 !important;
}

/* Custom checkbox styles */
.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background-color: #f8f9fa; /* Light background color */
    border: 2px solid #6c757d; /* Border color */
    border-radius: 50%; /* Round shape */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative; /* Ensure checkmark is positioned correctly */
  }
  
  /* When the checkbox is checked */
  .custom-checkbox:checked {
    background-color: #28a745; /* Green background */
    border-color: #28a745; /* Green border */
  }
  
  /* Add a checkmark when checkbox is checked */
  .custom-checkbox:checked::before {
    content: '\2713'; /* Unicode checkmark */
    color: white; /* White checkmark */
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the checkmark */
  }

  .css-1808mag-MuiPaper-root-MuiAccordion-root::before {
    background: none;
  }